<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CalculatorClient</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>web.content</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>annuite</display-name>
    <servlet-name>annuite</servlet-name>
    <servlet-class>web.annuite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annuite</servlet-name>
    <url-pattern>/annuite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>annuite</servlet-name>
    <url-pattern>/annuite/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>duree</display-name>
    <servlet-name>duree</servlet-name>
    <servlet-class>web.duree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>duree</servlet-name>
    <url-pattern>/duree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>duree</servlet-name>
    <url-pattern>/duree/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>content</servlet-name>
    <servlet-class>web.content</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>content</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>capital</display-name>
    <servlet-name>capital</servlet-name>
    <servlet-class>web.capital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>capital</servlet-name>
    <url-pattern>/capital</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>capital</servlet-name>
    <url-pattern>/capital/add</url-pattern>
  </servlet-mapping>
</web-app>